
			<div id="cart">
				<p><h2 align="center" style="color:#60bda6">Your Shopping Cart</h2></p>

				<% if flash[:alert] %>
				    <p id="notice" class="error" ><%= flash[:alert] %></p>
				<% end %>



				<% if @cart.line_items.count > 0 %>
				<!-- <form action="" method="post"> -->
					<table border="1">
						<tr>
							<th>Name</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Subtotal</th>
							<th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
						</tr>
						<% @cart.line_items.each do |item|%>
							<tr>
								<td width="250"><%= item.book.title %></td>
								<%= hidden_field_tag 'line_item_id', "#{item.id}"%>

								<%= form_for item, :url => line_item_path(item), :method => :put do |f| %>

									<td width="110">
										
										<%= f.text_field :quantity, :value => "#{item.quantity}", :size => 1,:class => "item_quantity" %>
										<%= f.submit 'update', :class => "update_btn"%>

										
									</td>
								<% end %>

								<td>
									<%= number_to_currency(item.book.price,:unit => " ", :precision => 0) %>
								</td>

								<td>
									<%= number_to_currency("#{item.total_price}",:unit => " ", :precision => 0) %>
								</td>

								<td>
									
									<%= link_to (image_tag('delete.png', :size => "16x16",:title => "delete this product")),item,:method => :delete %>
									
								</td>
								
							</tr>
						<% end%>
						

						<tr style="color:#e52f36">
							<td colspan="3" ><center><b>Total</b></center></td>
							<td colspan="2"><b><%= number_to_currency("#{@cart.total_price}",:unit => " ", :precision => 0) %></b></td>
						</tr>

						<tr class="up_del">
							<td colspan="5" class="up_del" align="center">
								<%= button_to 'Empty Cart',@cart,:method => :delete, :confirm => 'Are you sure ?', :class => "add_to_cart" %>
								
							</td>
						</tr>
					</table>

					<p align="center">
						<span>
							<%= link_to "Continue Shopping", home_path%>
						</span>
						<span>
							<%= link_to "Check out", new_order_path, :method => :get %>
						</span>
					</p>


				<% else%>
				<!-- message for empty cart -->
					<p style="color:#666">Your cart is empty.You may want to go back the homepage an choose some book.</p>
					<p style="color:#666">Click to <%= link_to "here", home_path %> go to the homepage.</p>
				<% end%>
			</div>
			<!-- end of cart -->